page-categories {

    // border:none;
 }
 
 .cat{
     position: relative;
     text-align: center;
     border:none;
     padding: none;
     height: 20vh;
 }

 
.overlay{
    height: 100%;
    width: 100%;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    filter: alpha(opacity=60);
  }
  
 
 .cat-text{
 
     position: absolute;
     color: aliceblue;
     top: 45%;
     font-size: 170%;
     left: 50%;
     transform: translate( -50%, -50%);
   //  color: #000000;

   .entertainment-overlay{
    height:15vh;

   }
}
 